.dashboard-container{
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    gap: 5%;
    overflow-y: auto;
    background: radial-gradient(circle, #001731, #000000);
}

.dashboard-container2{
    height: 100vh;
    width: 100%;
    align-items: center;
    gap: 5%;
    overflow-y: auto;
    background: radial-gradient(circle, #001731, #000000);
}

.proceed-pay-div{
    font-size: 20px;
      width: 100%;
      height: 60px;
      padding: 15px 0;
      border-radius: 10px;
      border: none;
      background-color: #F3A33A;
      color: #fff;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
    
  }
  edit-links
  
.apply-coupon{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 20px;
    opacity: 100;
    padding: 25px ;
    background-color: #F3A33A;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    transform: translate(0%,-50%);
  }
  .cuppon-in-cont{
    width: 100%;
    color: white;
    
}
.cuppon-in-cont::placeholder{
    color: white;
}
.main-container{
    height: 50vh;
    width: 1080px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
}


.sec-bunner-cont{
    height: 100%;
}

.store-name{
    text-align: right;
    font-family:var(--italic-nunito);
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.bunner-container{
    height: 70%;
}

.main-dashboard{
    border-radius: 10px;
    width: 100%;
    
    height: 100%;
}
.modal-footer-links{
    background-color: #1A0221;
    color: white;
    text-align: right;
    font-family: var(--italic-nunito);
}

.modal-body-links{
    background-color: #1A0221;
    color: white;
    text-align: right;
    font-family: var(--italic-nunito);
}

.modal-header-links{
    background-color: #1A0221;
    color: white;
    text-align: right;
    font-family: var(--italic-nunito);
}
.sec-main-container{
    gap: 2%;
    height: 100vh;
    align-items: start;
    width: 100%;
}

.about-container{
    position: relative;
    border-radius: 10px;
    width: 100%;
    text-align: right;
    align-items: end;
    background: rgba(255, 255, 255, 0.2); /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
}



.about-header-dash{
    color: white;
    width: 100%;
    padding-right: 5%;
    padding-top: 3%;

}
.description-text{
    color: white;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    opacity: 70%;
}

.sec-main-dash{
    width: 35%;
    height: 700px;
    gap: 5%;
}

.links-dash-container{
    border-radius: 10px;
    
    width: 100%;
    
}

.edit-links-header{

    color: white;
    width: 100%;
    text-align: right;
    height: 30%;
}
.edit-links-input{

    padding-left: 20%;
    padding-right: 20%;
    height: 100%;
    
}
.edit-links-footer{

    width: 100%;
    text-align: right;
    justify-content: end;
    padding-right: 5%;
    padding-bottom: 5%;
}
.bunner-dash{
    width: 100%;
    height: 250px;
    
}
.about-view{
    
}
.profile-image-edit{
    width: 170px;
    height: 170px;
    background-color: #FBB03B;
    border-radius: 100%;
    margin-top: -150px;
    border-color: 1px solid #FBB03B;
}

.modal-bunner-edit{
    background-color: #27272A;
    
}

.modal-bunner-edit--content{
    background-color: #27272A;
    
}

.modal-bunner-edit--bottom{
    background-color: #27272A;
    
}

.edit-links{
    background: rgba(255, 255, 255, 0.2); /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-radius: 8px;
    height: min(300px);
}
.edit-button-area{

}
.edit-image{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.edit-button{
    background-color: #FBB03B;
    border-color: white;
    
}

.past-events-container{
    width: 100%;
    height: 40%;
    border-radius: 10px;
    background-color: #1A0221;
}

.description-dash-container{
    padding-left: 5%;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    width: 100%;
    text-align: right;
    align-items: end;
    
}
.about-slots-edit-sub{
    color: white;
    width: 100%;
    align-items: start;
}
.about-slots-edit-result{
    color: white;
    opacity: 70%;
    width: 100%;
    text-align: right;
}
about-container
.hover-slots-edit{
    border-radius: 5px;
    padding-right: 5%;
}
.hover-slots-edit:hover{
    background: rgba(255, 255, 255, 0.089);
    animation: fadeIn2 0.5s ease-in forwards;
}
.footer-dash{
    height: 150px;
    gap: 6%;
}

.folowers-digits{
    font-family: var(--italic-nunito);
    color: white;
    justify-content: center;
    align-items: center;
}
.logout-Link{
    width: 80%;
    height: 70px;
    border-radius: 5px;
    padding: 2px;
    text-align: right;
    display: flex;
    align-items: center;
    border: 2px solid #7d7d7f;
    color: #ffffff;
}

.logout-Link:hover{
    border: 2px solid rgba(255, 0, 0, 0.41);
    color: red;
}