.glass-background {
    background:#ffffff;
  }
  .greeting-text {
    font-size: 2.5rem;
    font-weight: bold;
    width: 300px;
    color: #ffffff;  /* צבע טקסט אפור כהה */
    transition: transform 0.3s ease-out;
}

.onUserHover{
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.onUserHover:hover{
  background-color: #f4f4f4;
}
.slot-menue-drawer{
background: #ffffff;
border-radius: 15px;
padding: 10px;
cursor: pointer;
transition: background-color 0.3s ease;
}
.slot-menue-drawer:hover{
  background: #F0F0F0;
}
.borderSlot{
  width: 5px;
  background-color: rgb(226 232 240);
  height: 100%;
  border-radius: 20px;
}
  .glass-background-chat {
    background: #34a8539e; /* White background with 20% opacity */ /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    
  }

  .glass-background-message{
    background: #4286f490; /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
  }



.workspace-style{
  background-color: #34a853;
 
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 69, 6, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

  .glass-payment{
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
  }
  .glass-background4 {
    background: #000000; /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    
  }



  .input-glass-background {
    background: rgba(255, 255, 255, 0.2); /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-radius: 10px;
  }
  .setting-tickets{
    border-radius: 10px;
    padding-right: 2%;
    padding-left:1% ;
    height: 40px;
    align-items: center;
  }

  .chat-input{
    border-color: #252323;
  }

  .chat-Input:focus{
    border-color: #252323;
  }

  .setting-tickets:hover{
    background-color: rgba(255, 255, 255, 0.18);
  }
  .age-container{
    width: 100%;
    height: 200px;
    border-radius: 10px;

  }

.start-main-content{
    width: 50%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
}
.image-cont-main{
    border-radius: 10px;

    height: 100%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;

}
.image-event-cont:hover{
    opacity: 80%;
}
.add-event-container{
    margin-top: 5%;
    width: 1080px;
    height: 40%;
    /* background-color: #27272A; */
    color: #252323;
    border-radius: 8px;
}


.main-container-event{


}
.header-events-maneger{
    font-size: 24px;
    text-align: right;
    align-items: end;
    font-weight: bolder;
    font-family: var(--italic-nunito);
    
}
.isuserEdit-css{
  background-color: white;
  cursor: pointer;

  border-bottom: 1px solid rgb(203 213 225);
}
.isuserEdit-css:hover{
  background-color: rgb(203 213 225);
  border-radius: 8px;
}
.event-modal-container{

    color: #252323;
}

.navbar-event{
    margin-top: 3%;
    height: 50px;

}

.navbar-event-slot{
    color: #252323;
    height: 100%;
    cursor: pointer;
    font-family: var(--italic-nunito);
    font-size: 20px;
    font-weight: bolder;
    padding-right: 5%;
}
.navbar-event-slot-1{
    opacity: 70%;
}
.header-main-event{
    width: 100%;
    height: 10%;
}
.navbar-event-slot-1:hover{
    opacity: 100%;

}
.image-event-cont{
    height: 450px;
    width: 350px;
    border-radius: 10px;
    background-color: aliceblue;
}
.type-string{
    font-size: 20px;
}

.event-lable{
    color: #252323;
    width: 100%;
    font-family: var(--italic-nunito);
    font-size: 52px;
    font-weight: bold;
    display: flex;

}

.change-details{
    background-color: #27272A;
    color: #252323;
}

.buttonfade {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
  }

    .element-ticket{
        border-radius: 10px;
        cursor: default;
    }
    .element-ticket:hover{
        background-color: #27272A;
    }

  .buttonfade2 {
    
    opacity: 20%;
    animation: fadeIn3 0.5s ease-in forwards;
  }
  @keyframes fadeIn3 {
    from {
      opacity: 20%; /* Start fully transparent */
    }
    to {
      opacity: 40%; /* End fully opaque */
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start fully transparent */
    }
    to {
      opacity: 1; /* End fully opaque */
    }
  }
  @keyframes fadeIn2 {
    from {
      opacity: 95%; /* Start fully transparent */
    }
    to {
      opacity: 100%; /* End fully opaque */
    }
  }
.tickets-container{
    height: 120px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(255, 255, 255, 0.24) 0px 1px 2px;
    display: flex;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    justify-content: end;
    gap: 15px;
    color: #252323;
}

::-webkit-input-placeholder{
    text-align: right;
}

input{
    text-align: right;

}

.message-style{
  padding: 12px;
  border-radius: 20px;
  min-width: 50px;
}