.eventrise-finance-promo{
    width: 70%;
    height: 250px;
    border-radius: 5px;
}

.budget-text-promo{
    color: #252323;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    align-items: start;
    width: 25%;
    height: 250px;
    text-align: right;
    font-size: 24px;
}

.style-lable-amount{
    color: #252323;
    font-weight: bolder;
    font-size: 24px;
}

.style-lable-amount-display{
    color: #252323;
    font-weight: lighter;
    font-size: 36px;
}