@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  color: #252323;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Style for the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: transparent; /* Optional if you want to hide the corner */

}

::-webkit-scrollbar {
  width: 8px;  /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {

    background-color: rgba(108, 180, 253, 0.329); /* White background with 20% opacity */
    backdrop-filter: blur(10px); /* Apply blur to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */ /* Track color */
  border-radius: 6px;        /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover{
  background: #4286f495;
  animation: fadeIn2 0.5s ease-in forwards;
}
/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); /* White background with 20% opacity */
  backdrop-filter: blur(10px); /* Apply blur to the backdrop */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */ /* Track color */
  border-radius: 6px;        /* Optional rounded corners */
}

.events-promo{
  min-height: 300px;
  height: 300px;
  border-radius: 25px;
}

.text-search-home{
  font-size: 34px;

}

.text-search-home-events{
  color: #ffffff6b;
  cursor: default;

}
.text-search-home-events:hover{
  color: #fbbc05;

}

.text-search-home-kenes{
  color: #ffffff6b;
  cursor: default;

}
.text-search-home-kenes:hover{
  color: #34a853;

}

.text-search-home-party{
  color: #ffffff6b;
  cursor: default;

}
.text-search-home-party:hover{
  color: #4285f4;

}

.sr-input{

}

.sr-input::placeholder{
  padding-right: 20px;
  color: white;

}

.promos-text-slider{
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.promo-patches{
  font-family: var(--italic-nunito);
  width: 45px;
  height: 30px;
  border-radius: 20px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
