.landing-slot{
    color: #fafafa;
}

.header-image{
    padding-left: 10%;
    height: 100%;
    width: 100%;
}

.header-main{
    padding-top: 5%;
    color: #252323;
    text-align: right;
    padding-right: 5%;
    width: 80%;
}
.header-main-text{
    font-size: 64px;
}
.header-sub-text{
padding-left: 40%;
}
.header-button{
    margin-top: 70px;
    padding-right: 65%;
}

.sginin-container{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at bottom, #004a9f, #000000);
}



.sginin2sec-container{
    width: 450px;
    height: 85%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body2 {
  font-family: "Noto Sans",sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #F8FAFC;

}
.form-container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  width: 340px;
  padding: 2rem;

}

.form-container2 {

  background-color: rgba(255, 255, 255, 0.141);
  border-radius: 0.75rem;

  color: #fff;
  width: 740px;
  padding: 2rem;
}

.form-container .title {

  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1rem;
}
.input-group label {

  display: block;

  margin-bottom: 0.2rem;
}
.input-group .password {
  margin-top: 0.5rem;
}
.input-group input {
  border-radius: 20px;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: #ffffff;
  padding: 0.55rem 1rem;

  width: 100%;
}
.input-group input:focus {
  border-color: #4185f4;
  background-color: #d3e2fb;
}
.input-group input:hover {
  border-color: #4185f4;
  background-color: #d3e2fb;
}
.forgot {
  text-align: right;
  line-height: 1rem;
  margin: 8px 0 14px 0;
}
.forgot a,
.sign-up a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}
.forgot a:hover, 
.sign-up a:hover {
  color:#4185f4 ;
  text-decoration: underline#4185f4;
}
body2
.sign-in {
  display: block;
  width: 100%;

  padding: 0.75rem;
  text-align: center;

  border: none;
  border-radius: 0.975rem;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1.5rem;
}
.social-messages {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
.line {
  height: 2px;
  flex: 1 1 0%;
  background-color: #34a853;
}
.social-messages .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  color: rgba(156, 163, 175, 1);
}
.icons {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 0.5rem;
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;

  margin-left: 8px;
  font-size: 1.8rem;
}

.sign-up {
  text-align: center;
  font-size: 0.9rem;
  color: rgba(156, 163, 175, 1);
  margin-top: 0.5rem;
}
/* MEDIA QUERIES  */
@media (width <= 420px) {
    .form-container {
        width: 340px;
    }
}


.sginin-form-container{
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.signin-button{
    width: 60%;
    height: 50px;
}


.profession-cube{
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
   
}

.profession-cube:hover{
    background-color: #2cf4ff2d;

}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .popup-content {
    background-color: #27272A;
    width: 350px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .popup-button{
    width: 80%;
    height: 50px;
    background-color: #006FEE;
    color: #252323;
    border-radius: 10px;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #252323;
  }

 .full-screen-div {
    width: 100vw; /* Full width of viewport */
    height: 100vh; /* Full height of viewport */
    overflow-y: hidden; /* Prevents vertical scrolling */
    overflow-x: auto; /* Allows horizontal scrolling if needed */
    background-color: #0000004b; /* Example background color */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252323;
  }

  .shadow-examp{
    border-radius: 25px;


    /* Complex layered shadow */
    box-shadow: 
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,  /* Large, soft shadow */
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,       /* Medium shadow */
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; /* Inner shadow */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }